body {
  background-color: #2b0138;
}

.reveal pre code {
  max-height: 100%;
}

.reveal pre {
  margin: auto;
}

.reveal .slides > section,
.reveal .slides > section > section {
  padding: 0;
}

.reveal .horizontal-flex-container {
  display: flex;
  height: 100%;
  padding: 0;
  margin: 0;
  align-items: flex-end;
  justify-content: space-around;
}

.reveal .horizontal-flex-item {
  flex: 1;
  margin: 1em;
}

.reveal .horizontal-flex-item.left {
  max-width: 25%;
}

.reveal h1, .reveal h2, .reveal h3,.reveal h4 {
  background-color: rgba(1, 1, 1, 0.7);
}

.reveal h1 {
  color: #ffdf9b;
}

.reveal h2 {
  color: #a571b6;
}

.reveal h3,
.reveal h4 {
  color: #7888b9;
}
